:root {
  font-size: medium;
  --foreground-colour: #333;
  --background-colour: #fff;
}

body {
  margin: 0;
}

button {
  color: var(--foreground-colour);
  background-color: var(--background-colour);
  font-size: 1.8rem;
  padding: 0;
  border: none;
  box-shadow: 0.3rem 0.3rem 0 var(--foreground-colour);
  border-radius: 0.5rem;
}

.calculator-root {
  max-width: 22rem;
  min-height: 34rem;
  border: 0.13rem solid var(--foreground-colour);
  border-radius: 0.5rem;
  margin: 1rem auto 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.screen-root {
  flex: 1 1;
}

.buttons-root {
  flex: 9 9;
  display: flex;
}

.buttons-numbers {
  flex: 3 3;
  display: flex;
  flex-wrap: wrap;
  gap: 3.3333333%;
}

.buttons-numbers > * {
  flex: 0 0 30%;
}

.buttons-operators {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 3.3333333%;
}

.buttons-operators > * {
  flex: 1 1;
}
