:root {
  --foreground-colour: #333;
  --background-colour: #fff;
  --hover-colour: #ccc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-colour: #ccc;
    --background-colour: #000;
    --hover-colour: #333;
  }
}

:root {
  font-size: medium;
  color: var(--foreground-colour);
  background-color: var(--background-colour);
}

body {
  margin: 0;
}

button {
  color: var(--foreground-colour);
  background-color: var(--background-colour);
  border: none;
  box-shadow: 0.3rem 0.3rem 0 var(--foreground-colour);
  border-radius: 0.5rem;
}

.buttons-root button {
  font-size: 2.5rem;
  padding: 0;
}

button:hover {
  background-color: var(--hover-colour);
}

.calculator-root {
  max-width: 28rem;
  min-height: 40rem;
  border: 0.15rem solid var(--foreground-colour);
  border-radius: 0.5rem;
  margin: 1rem auto 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.screen-root {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.screen {
  flex: 1;
  color: var(--foreground-colour);
  font-family: monospace;
  font-size: 3rem;
  text-align: right;
  padding: 0.5rem 0.2rem;
  border: 0.1rem solid var(--foreground-colour);
  border-radius: 0.5rem;
  overflow: auto;
}

.buttons-root {
  flex: 4 4;
  display: flex;
}

.buttons-numbers {
  flex: 3 3;
  display: flex;
  flex-wrap: wrap;
  gap: 3.3333333%;
}

.buttons-numbers > * {
  flex: 0 0 30%;
}

.buttons-operators {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 3.3333333%;
}

.buttons-operators > * {
  flex: 1 1;
}
